@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    --color1:#EDEFEE;
    --color2:#F7F1F0;
    --color3:#c3a6a0;
    --color4:#a15c38;
    --color5:#262220;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
    background-color: var(--color2);    
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#floating-result {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1;
}
.popUp-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 200px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--color1);
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 6px;
    cursor: pointer;
    color: var(--color5);
    background-color: lightgrey;
}
#close:hover{
    background-color: red;
    color: var(--color1);
    transition-duration: 0.4s;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.popUp-content .text *{
    margin: 10px 0px;
    color: var(--color5);
}
.popUp-content .text h1{
    font-weight: 800;
}

.base {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 0px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color3);
    width: 700px;
    height: 600px;
    border-radius: 15px;
    border-style: solid;
    border-width: 6px;
    border-color: var(--color2);
    padding: 20px 20px;
    gap: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.title{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title h1{
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    color: var(--color5);
}
.title h2{
    text-align: center;
    font-size: larger;
}
#formInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 65%;
    gap: 20px;
}
#formInput label{
    text-align: left;
    width: 100%;
    font-size: medium;
    font-weight: 500;
}
#formInput input{
    border-radius: 8px;
    padding: 0px 10px;
    height: 32px;
    width: 100%;
    font-size: larger;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#formInput button{
    border-radius: 8px;
    width: 200px;
    padding: 6px 0px;
    margin-top: 20px;
    cursor: pointer;
    background-color: lightgray;
    font-weight: 700;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
#formInput button:hover{
    border-color: #a15c38;
    background-color: #a15c38;
    color: var(--color1);
    transition-duration: 0.4s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
